<!DOCTYPE html>
<html ng-app="dailyRoute">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <meta name="google-signin-client_id" content="296256466166-pdh58rh53nihcc5tfh184vmautajqsup.apps.googleusercontent.com">
        <title>Daily Route</title>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.1.min.js"></script>
        <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script> 
    </head>
    <body ontouchstart="" ng-controller = "dailyController">
        <header> 
            <button class="hamburger">&#9776;</button>
            <a class = "appLogo" href="https://routeit-app.herokuapp.com/dailyroute.html"></a>
        </header>
        <nav class="menu">
            <ul>
                <a href="https://routeit-app.herokuapp.com/userprofile.html"><li><img class = "userPic" src={{img}}><br>
                    <h4 id = "userName"><b> {{name}} </b></h4>     
                </li></a>
                <a href="https://routeit-app.herokuapp.com/myroutes.html"><li id="myRoutesLi"> המסלולים שלי </li></a>
                <a href="https://routeit-app.herokuapp.com/routeshistory.html"><li id="historyLi"> הסטוריית מסלולים </li></a>
                <a href="https://routeit-app.herokuapp.com/routeform.html"><li id="planLi"> תכנון מסלול חדש </li></a>
                <a href="https://routeit-app.herokuapp.com/dailyroute.html"><li id="dailyLi" class="selected"> יום נוכחי  </li></a>
            </ul>
        </nav> 
        <main>
            <div id="pageMask"></div>
            <div id = #popup>
                <span class="noPadding popuptext" id="endPopup"><span id="attention"> <b>שים לב!</b> <br> האם אתה בטוח שברצונך להפסיק את הטיול? <br></span><span id="stay" ng-click="stay()"> הישאר בטיול </span> <span id="close" ng-click="stop()"> הפסק את הטיול </span></span>
            </div>
            <div id = #popup>
                <span class="popuptext1" id="alertPopup"></p><textarea id="alertText" ng-model="alertText" placeholder="כתוב התראה..."> </textarea><br><span id="sendAlert" ng-click="addAlert()"> הוסף התראה </span><span id="stopAlert" ng-click="stopAlert()"> ביטול </span></span>
            </div>  
            <div id = #popup>
                <span class="popuptext" id="sendAlertPopup"> התראתך נשלחה בהצלחה! <span id="closeAlert" ng-click="closePopup()">סגור</span></span>
            </div>
            <section id="dailyContent">
            </section>
        </main>
        <footer> 
            <div class="g-signin2 hidden" id = "signInRoute" data-onsuccess="onSignIn"></div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/dailyMap.js"></script>
        <script src="js/dailyroute.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClX7NRDum6_i6RO1SXeH9_REWSulwtA5c&language=iw&libraries=places&callback=initMap">
        </script>
        <script src="js/menu.js"></script>
    </body>
 </html>