<!DOCTYPE html>
<html ng-app="dailyRoute">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <meta name="google-signin-client_id" content="296256466166-pdh58rh53nihcc5tfh184vmautajqsup.apps.googleusercontent.com">
        <title>Daily Route</title>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.1.min.js"></script>
        <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script> 
    </head>
    <body ng-controller = "dailyController">
        <header> 
            <button class="hamburger">&#9776;</button>
            <a href="http://localhost:8080/dailyroute.html"><h1 class = "appLogo"> Routeit </h1></a>
        </header>
        <nav class="menu">
            <ul>
                <a href="http://localhost:8080/userprofile.html"><li><img class = "userPic" src={{img}}><br>
                    <h4 id = "userName"><b> {{name}} </b></h4>     
                </li></a>
                <a href="http://localhost:8080/myroutes.html"><li> המסלולים שלי </li></a>
                <a href="http://localhost:8080/routeshistory.html"><li> הסטוריית מסלולים </li></a>
                <a href="http://localhost:8080/routeform.html"><li> תכנון מסלול חדש </li></a>
                <a href="http://localhost:8080/dailyroute.html"><li> יום הטיול </li></a>
            </ul>
        </nav> 
        <main>
            <div id = #popup>
                <span class="popuptext" id="endPopup"> האם אתה בטוח שברצונך להפסיק את הטיול? <br> <button ng-click="stay()"> הישאר בטיול </button> <button ng-click="stop()"> הפסק טיול </button></span>
            </div>
            <div id = #popup>
                <span class="popuptext" id="alertPopup"> התראתך נשלחה בהצלחה! <span id="x" ng-click="closePopup()">&#10005;</span></span>
            </div>
            <section id="dailyContent">
            </section>
        </main>
        <footer> 
            <div class="g-signin2 hidden" id = "signInRoute" data-onsuccess="onSignIn"></div>
        </footer>
        <script src="js/dailyMap.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClX7NRDum6_i6RO1SXeH9_REWSulwtA5c&language=iw&libraries=places&callback=initMap">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/dailyroute.js"></script>
        <script src="js/menu.js"></script>
    </body>
 </html>