<!DOCTYPE html>
<html ng-app="suggestedRoute">
    <head>
        <meta charset="utf-8">
        <meta name="google-signin-client_id" content="296256466166-pdh58rh53nihcc5tfh184vmautajqsup.apps.googleusercontent.com">
        <title>Suggested Route</title>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>   
    </head>
    <body>
        <header> 
            <button class="hamburger">&#9776;</button>
            <a href="http://localhost:8080/dailyroute1.html"><h1 class = "appLogo"> Routeit </h1></a>
        </header>
        <main id="sugMain" ng-controller = "SuggestedController">
            <nav class="menu">
              <ul>
                <a href="http://localhost:8080/userprofile.html"><li><img class = "userPic" src={{img}}><br>
                    <h4 id = "userName"><b> {{name}} </b></h4>     
                </li></a>
                <a href="http://localhost:8080/myroutes.html"><li> המסלולים שלי </li></a>
                <a href="http://localhost:8080/routeshistory.html"><li> הסטוריית מסלולים </li></a>
                <a href="http://localhost:8080/routeform.html"><li> תכנון מסלול חדש </li></a>
                <a href="http://localhost:8080/dailyroute1.html"><li> יום הטיול </li></a>
              </ul>
            </nav> 
            <button ng-click="goBack()"> < </button> 
            <div id = #popup>
                <span class="popuptext" id="myPopup"> שים לב! מסלולך לא יישמר. <br> <button ng-click="stay()"> הישאר בעמוד </button> <button ng-click="back()"> חזור בכל זאת </button></span>
            </div>
            <h1> המסלול המוצע </h1>
            <section id="suggestedMap">
                <div id="map"></div>
            </section>
            <section id="routeOverview">
            	<span> אזור </span> {{area}} <br>
                <span> {{direction}} </span> <br>
            	<span> נקודת התחלה: </span> {{tripStartPt}} <br>
            	<span> נקודת סיום: </span> {{tripEndPt}} <br>
            	<span> מספר ימים: </span> {{tripDaysNum}} <br>
                <span> מספר ק"מ ליום: </span> {{tripDayKm}} <br>
            	<span> מספר ק"מ כולל: </span> {{tripKm}} <br>
            	<span> רמת קושי: </span> {{tripDiff}} <br>
            	אופי הטיול: <span ng-repeat = "type in tripType"> {{type}} </span> <br>
            	אתרים בדרך: <span ng-repeat = "site in tripSites"> {{site}} </span>
            	<button ng-click="addRoute()"> + </button>
            	<button ng-click="showHide()"> ^ </button>
                <br><br>
            	<section id="dailySecs" class = "hidden"> </section>
            </section>
        </main>
        <footer> 
            <div class="g-signin2 hidden" id = "signInRoute" data-onsuccess="onSignIn"></div>
            <div class = "clear"> </div>
        </footer>
        <script src="js/suggestedMap.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClX7NRDum6_i6RO1SXeH9_REWSulwtA5c&language=iw&callback=initMap">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/suggested.js"></script>
    </body>
 </html>